.porque {
  display: flex;
  padding: 32px 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: #deff4f;
}

.porque h2 {
  color: var(--azul, #0f93fe);
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.porque ul {
  list-style: inside url('./../public/svgs/circle.svg');

  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  gap: 8px;

  color: var(--azul, #0f93fe);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.atendente {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 64px 0px 64px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.atendente p {
  color: var(--azul, #0f93fe);
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.agende {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.limpeza {
  display: flex;
  padding: 32px 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 32px;
  flex-wrap: wrap;
  background: #0F93FE;
}


.limpeza .item {
  display: flex;
  align-items: center;
  gap: 16px;

}

.limpeza h2 {
  color: #DEFF4F;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 725px) {
  .limpeza {
    justify-content: flex-start;
  }
}

@media (max-width: 1000px) {
  .atendente {
    padding: 16px 64px 16px 64px;
  }
}